a:link {
color: red;
 background-color: transparent;
 text-decoration: underline;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
color:purple;
background-color: transparent;
text-decoration: underline;
}


.div1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}


.div2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  visibility: collapse;

}

@media only screen and (max-width: 625px) {
  .div1 {
    visibility: collapse;
  }

  .div2 {
  visibility: visible;
  }
}



.div1 {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
 
 }
 .div1 p {
   padding: 10px;
   border: 2px solid black;
   width: 90% ;
   height: 400%
 
   
 }

 .div2 {
   background-color: white;
   display: grid;
   grid-template-rows: auto auto;
  
  }
  .div2 p {
    padding: 10px;
    border: 2px solid rgb(197, 29, 29);
    width: 95% ;
    height: 70%
  }