a:link {
color: red;
 background-color: transparent;
 text-decoration: underline;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
color:purple;
background-color: transparent;
text-decoration: underline;
}


